<%- await include("partials/header", { bot, user, title: "Home", is_logged, dashboardDetails, dashboardConfig, hasClientSecret }) %>
<style>
p, a, hr {
text-align: left!important;
}
.d-grid {
display: block!important
}
.sidebardiv {
background-color: #333232!important;
width: 100px;
border-radius: 5px;
text-align: center!important;
margin-left: -130px!important;
}
.container-fluid {
background-color: #333232!important;
margin-top: -8px!important;
}
.navbar-toggler {
background-color: #333232!important;
border-color: #333232!important;
}
.btn {
text-align: center!important;
}
</style>
<div class="container-sm center" style="margin-top: 25px;">
<div class="sidebardiv">
    <% if(hasClientSecret) { %>
      <a style="background-color: #333232!important; border-color: #333232!important; color:white!important; margin-top: 2px!important;" class="btn btn-secondary text-white" href="/selector"><%- is_logged ? 'Dashboard' : 'Login' %></a>
    <% } %>
    <br style="padding: 2px;"></br>
    <a style="background-color: #333232!important; border-color: #333232!important; color:white!important;" class="btn btn-primary text-white" href="<%= dashboardDetails.inviteUrl ? dashboardDetails.inviteUrl : `https://discord.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&permissions=8` %>">Invite</a>
    <br style="padding: 2px;"></br>
    <% if(dashboardDetails.serverUrl) { %>
      <a style="background-color: #333232!important; border-color: #333232!important; color:white!important;" class="btn btn-warning" href="<%= dashboardDetails.serverUrl %>">Discord Server</a>
    <% } %>
    </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2 style="text-align: center; color:white!important;">Welcome to <%= dashboardDetails.name %>'s Dashboard!</h2>
    
    <% if(dashboardDetails.description) { %>
      <p style="text-align: center; color:white;"><%= dashboardDetails.description %></p>
    <% } %>
</div>

  </div>
</div>
<%- await include("partials/footer") %>